*.rpgproject
*.rmmzproject
*.rmmzsave
*.bak
*.log
*.lock
*.tmp
*.ldb
*.mztmp
*.json.bak
*.txt.bak

backup/

data/MapInfos.json
data/Map*.json.bak
data/State*.json.bak
data/System.json.bak
data/Troops.json.bak
data/*.rpgsave
data/*.mztmp
data/*.bak

maps/
maps_backup/

save/
config.rmmzsave
global.rmmzsave

build/
output/
dist/

node_modules/
package-lock.json
yarn.lock
.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

*.DS_Store
*.Thumbs.db
*.Spotlight-V100
*.Trashes

*.swp
*.swo
*.orig
